name: Verify Template
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ 'main', 'v2' ]
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PROJECT_NAME: hello-blueprint
    steps:
      - uses: actions/checkout@v4
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install Solidity Dependencies
        run: forge soldeer update -d
      - uses: JohnPeel/cargo-generate-action@main
        with:
          name: ${{ env.PROJECT_NAME }}
          arguments: >
            --define project-authors="tangle-network"
            --define project-description="An example blueprint"
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Forge build
        run: |
          cd ${{ runner.temp }}/$PROJECT_NAME
          forge soldeer update -d
          forge build
      - name: Cargo check
        run: |
          cd ${{ runner.temp }}/$PROJECT_NAME
          cargo check
